:root {
  --background-dark: #2f303a;
  --background-grey-btn-color: #f5f4fa;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-logo-color: #2196f3;
  --secondary-logo-color: #000000;
  --contact-link-color: rgba(255, 255, 255, 0.6);
  --address-color: #ffffff;
  --grid-item: 4;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  font-family: 'Roboto', '-apple-system', 'BlinkMacSystemFont', 'Avenir next',
    'Avenir', 'Helvetica neue', 'Helvetica', 'Ubuntu', 'Noto', 'Segoe ui',
    'Arial', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* header */

.header-list {
  display: flex;
}

.header-list .item:not(:last-child) {
  margin-right: 50px;
}

.logo {
  display: block;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-logo-color);
  text-decoration: none;

  margin-right: 93px;
}

.logo:focus {
  color: var(--secondary-logo-color);
}

.logo-first {
  color: var(--primary-logo-color);
}

.navigation-section {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: inherit;
  font-weight: 500;
  color: var(--primary-text-color);
  text-decoration: none;
}

.navigation-list:hover,
.navigation-list:focus,
.navigation-list:active {
  color: var(--primary-logo-color);
}

.list .navigation-list.current {
  color: var(--primary-logo-color);
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list .item:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-family: inherit;
  font-weight: 500;
  color: var(--secondary-text-color);
  text-decoration: none;
  cursor: pointer;
}

.contact-link:hover,
.contact-link:focus,
.contact-link:active {
  color: var(--primary-logo-color);
}

.list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
}

/* Hero section */
.hero-section {
  background-color: var(--background-dark);
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.67;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--address-color);

  margin-bottom: 30px;
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--address-color);

  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--primary-logo-color);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  color: #188ce8;
}

/* Features */

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid-item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* About */
.about {
  padding-bottom: 94px;
}

.about-item {
  --grid-item: 3;
}

.about-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* Our team */

.team-item {
  --grid-item: 4;
}

.team {
  background-color: var(--background-grey-btn-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-content {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--address-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.info {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

/* Footer */

.footer-logo {
  margin-bottom: 50px;
}

.logo-second {
  color: var(--address-color);
}
.contacts {
  background-color: var(--background-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}
.address-info {
  margin-bottom: 9px;

  font-style: normal;
  line-height: 1.71;
  color: var(--address-color);
}

.address-info:hover,
.address-info:focus {
  color: var(--primary-logo-color);
}

.contact-inf {
  display: block;
  font-family: inherit;
  font-style: normal;
  line-height: 1.71;
  color: var(--contact-link-color);
  text-decoration: none;
}

.contact-inf:not(:last-child) {
  margin-bottom: 9px;
}

.contact-inf:hover,
.contact-inf:focus {
  color: var(--primary-logo-color);
}

/* Portfolio */

.navigation-border {
  border-bottom: 1px solid #ececec;
}

.list-menu:focus {
  color: var(--secondary-logo-color);
}

.list-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--background-grey-btn-color);
  cursor: pointer;
}

.list-button:hover,
.list-button:focus,
.list-button:active {
  background-color: var(--primary-logo-color);
  color: var(--address-color);
}
.list-button:active {
  color: var(--address-color);
}

/* Gallery */

.card-item {
  --grid-item: 3;
}

.gallery-list {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-info {
  padding: 20px 24px;
}

.title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.title-info {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}
